/* ------------ Help Section -------------- */
.help-page form { padding: 25px 0; }
.help-page .breadcrumb { width: 950px; padding-bottom: 15px; margin-left: 80px; font-size: 16px; margin-top: 10px; }
.help-page .search-field { margin-left: 80px; width: 80%; height: 40px; font-size: 18px; padding: 5px 5px 5px 10px; border-radius: 15px; border: 2px #efefef solid; }
.help-page .section__content { padding: 0 75px 216px; }
.help-page .grid { width: 950px; margin-left: 50px; display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-between; }
.help-page .grid .item { width: 400px; padding: 15px 0; }
.help-page .grid .item ul { list-style: none; }
.help-page .grid .item ul li { margin-bottom: 5px; }
.help-page .section__content { margin-top: 30px; }
.help-page .post ul { margin-left: 50px; }
.help-page .post-header { display: flex; flex-direction: row; justify-content: space-between; }
.help-page .post-header .btn { height: 38px; margin-right: 30px; width: 150px; };

/* ------------ Override CSS -------------- */

.red-text { color: #D64561 !important; }
.footer .copyright { padding-top: 6px; }
.broker-statement { margin-top: 5px; }
.cloudmanic-copyright { display: inline-block; margin-top: 10px; }
.footer .footer__aside { padding-top: 0; }
.home-tradier-logo-top { width: 200px; margin-top: -18px !important; }
.table-platforms tr.oc td { background-color: rgba(248,231,28,0.2); }
