/* ------------ Override CSS -------------- */

.footer .copyright { padding-top: 6px; }
.broker-statement { margin-top: 5px; }
.cloudmanic-copyright { display: inline-block; margin-top: 10px; }
.footer .footer__aside { padding-top: 0; }
.home-tradier-logo-top { width: 200px; margin-top: -18px !important; }
.table-platforms tr.oc td { background-color: rgba(248,231,28,0.2); }