{{ define "main" }}
  {{ $title := replace .Title "-" " " }}
  <div class="shell">
    <div class="container__inner">
      {{- partial "v1/blog/intro.html" . -}}


      <div class="main main--flex">
        <div class="content">
          <h3 class="content__title capitalize">{{ $title }}</h3>
          {{- partial "v1/blog/blog-list.html" . -}}
        </div>
        {{- partial "v1/blog/sidebar.html" . -}}
      </div>
    </div>
  </div>
  {{- partial "v1/shared/newsletter.html" . -}}
{{ end }}
