{% extends "layouts/_main" %}

{% set title = entry.pageTitle ~ siteDetails.siteMetaTitleAppend %}
{% set description = entry.pageDescription %}
{% set page_image = entry.pageImage.first().url('width800') %}

{% block head %}
  {% include "modules/_head" %}
{% endblock %}

{% block content %}

<div class="container__inner container__inner--secondary container__inner--white">
  <section class="section">
  	<div class="section__content">
  		<h2 class="section__title">{{ entry.aboutSection1Title }}</h2><!-- /.section__title -->

      {{ entry.aboutSection1Body }}

  		<img src="/assets/css/images/temp/logo-image.png" alt="" width="134" height="121">
  	</div><!-- /.section__content -->

  	<footer class="section__foot">
  		<img src="/assets/css/images/temp/stock-app.png" alt="">

  		{{ entry.aboutSection2Body }}
  	</footer><!-- /.section__foot -->
  </section><!-- /.section -->

  <section class="section section--secondary">
  	<div class="section__content">
  		<h2 class="section__title">{{ entry.aboutSection3Title }}</h2><!-- /.section__title -->

  		<img src="/assets/css/images/temp/founder.jpg" alt="" class="avatar">

      {{ entry.aboutSection3Body }}
  	</div><!-- /.section__content -->
  </section><!-- /.section -->
</div><!-- /.container__inner -->

{% endblock %}