{% extends "layouts/_main" %}

{% set title = entry.pageTitle ~ " " ~ siteDetails.siteMetaTitleAppend %}
{% set description = entry.pageDescription %}
{% set page_image = entry.pageImage.first().url('width800') %}

{% block head %}
  {% include "modules/_head" %}
{% endblock %}

{% block content %}

<div class="shell">

  <div class="container__inner container__inner--secondary container__inner--white">
    <section class="section">
    	<div class="section__content"> 
        {% for block in entry.pageBuilder %}
          {% include "blocks/_" ~ block.type %}
        {% endfor %}
    	</div>
    </section>
  </div>
  
  {% include "modules/_newsletter" %}
  
</div>

{% endblock %}