/* ------------ Help Section -------------- */
.help-page .submit { padding: 25px 0; }
.help-page .breadcrumb { width: 950px; padding-bottom: 15px; margin-left: 80px; font-size: 16px; margin-top: 10px; }
.help-page .spacer { height: 10px; border-bottom: 1px solid #e5e5e5; }
.help-page .search-field { margin-left: 80px; width: 80%; height: 40px; font-size: 18px; padding: 5px 5px 5px 10px; border-radius: 15px; border: 2px #efefef solid; }
.help-page .section__content { padding: 0 75px 216px; }
.help-page .grid { max-width: 950px; margin-left: 50px; display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-between; }
.help-page .grid .item { width: 400px; padding: 15px 0; }
.help-page .grid .item ul { list-style: none; }
.help-page .grid .item ul li { margin-bottom: 5px; }
.help-page .section__content { margin-top: 30px; }
.help-page .post ul { margin-left: 50px; }
.help-page .post-header { display: flex; flex-direction: row; justify-content: space-between }
.help-page .post-header .btn { height: 38px; margin-right: 30px; width: 150px; }
.help-page .feedback-cont { margin-top: 20px; background-color: #f1f1f1; font-size: 14px; padding: 6px 10px; }
.help-page .feedback-cont a { margin-left: 5px; }

.help-page .contact-us { margin: 0 auto; max-width: 600px; }
.help-page .contact-us .body__field { height: 200px; }
.help-page .contact-us .form-group { margin-bottom: 25px; }
.help-page .contact-us .form-group p { display: none; }
.help-page .contact-us .form-group.has-error .field { border-color: #D64561; }
.help-page .contact-us .form-group.has-error p { display: block; color: #D64561; }


@media (max-width: 767px) {
	.help-page .grid { margin-left: 0; }
	.help-page .grid .item ul li { margin-bottom: 25px; }
	.help-page .post-header { flex-wrap: wrap; }
	.help-page .post-header .btn { margin: 0 30px; width: 100%; }
	.help-page .section__content { text-align: left; }
	.help-page .section .section__title { text-align: left; }
}

/* ------------ Override CSS -------------- */

.hide { display: none; }
.red-text { color: #D64561 !important; }
.footer .copyright { padding-top: 6px; }
.broker-statement { margin-top: 5px; }
.cloudmanic-copyright { display: inline-block; margin-top: 10px; }
.footer .footer__aside { padding-top: 0; }
.home-tradier-logo-top { width: 200px; margin-top: -18px !important; }
.table-platforms tr.oc td { background-color: rgba(248,231,28,0.2); }

figure { margin: 20px 0; }

/* Hide GooveHq stuff */
iframe.grv-widget-tag { display: none !important; }
iframe.grv-widget-app { display: block !important; }
