<!DOCTYPE html>
<html lang="en">
  {{- partial "v1/layouts/head.html" . -}}


  <body>
    <div class="wrapper {{ if .Site.Params.newsletterHeader }}wrapper--padding{{ end }}">
      {{ if .Site.Params.newsletterHeader }}
        {{- partial "v1/layouts/headerNewsletter.html" . -}}
      {{ end }}


      <header class="header">
        <div class="shell">
          <div class="header__inner">
            <a href="{{ "" | absURL }}" class="logo">O/C Options Cafe</a>

            <a href="{{ "" | absURL }}" class="btn-menu visible-xs-inline-block">
              <span></span>
              <span></span>
              <span></span>
            </a>

            <nav class="nav">
              {{- partial "v1/layouts/mainNav.html" . -}}
            </nav>
          </div>
        </div>
      </header>

      <div class="{{ if not (eq .RelPermalink "/") }}container{{ end }} ">
        {{ block "main" . }}{{ end }}
      </div>

      {{- partial "v1/layouts/footer.html" . -}}
    </div>

    {{- partial "v1/layouts/endOfBodyJs.html" . -}}
  </body>
</html>
