@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-red-lg {
        @apply text-white bg-red-550 border-0 py-3 px-8 hover:bg-red-850 rounded-lg text-2xl font-bold text-center;
    }

    .btn-red-md {
        @apply text-white bg-red-550 border-0 py-2 px-4 hover:bg-red-850 rounded-lg text-xl font-bold text-center;
    }

    .border-standard {
        @apply border-2 border-gray-200 rounded-lg;
    }

    .wrapper {
        @apply relative min-h-screen max-w-6xl mx-auto my-6 py-10 px-6 md:px-12 border-separate border-standard bg-white;
    }

    .h1 {
        @apply text-gray-900 text-2xl leading-tight font-bold sm:text-4xl text-center;
    }

    .h2 {
        @apply text-red-550 font-bold text-2xl mb-2;
    }

    .p {
        @apply text-lg sm:text-xl text-gray-700 mt-6 mb-6 sm:mb-12 text-center;
    }

    .p2 {
        @apply text-gray-700 text-base mb-4;
    }
}

@media only screen and (min-width: 600px) {
    .footer .footer__nav li+li:before {
        content: '•';
        display: inline-block;
        padding: 0 8px 0 11px;
    }
}