<nav class="bg-white shadow">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 justify-between">
      {{- partial "v2/layouts/mobile-menu-button.html" . -}}


      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-between">
        <div class="flex flex-shrink-0 items-center">
          <a href="{{ "" | absURL }}">
            <img class="block h-12 w-auto" src="/css/images/logo.png" alt="Options Cafe" />
          </a>
        </div>
        {{- partial "v2/layouts/desktop-nav.html" . -}}
      </div>
    </div>
  </div>

  {{- partial "v2/layouts/mobile-nav.html" . -}}
</nav>
