<!-- Start of Piwik Code -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setCookieDomain", "*.options.cafe"]);
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);
  (function () {
    var u = ("https:" == document.location.protocol ? "https" : "http") + "://piwik.cloudmanic.com/";
    _paq.push(["setTrackerUrl", u + "piwik.php"]);
    _paq.push(["setSiteId", 5]);
    var d = document,
      g = d.createElement("script"),
      s = d.getElementsByTagName("script")[0];
    g.type = "text/javascript";
    g.defer = true;
    g.async = true;
    g.src = u + "piwik.js";
    s.parentNode.insertBefore(g, s);
  })();
</script>
<noscript>
  <p><img src="https://piwik.cloudmanic.com/piwik.php?idsite=5" style="border: 0" alt="" /></p>
</noscript>
