<footer class="footer">
  <div class="shell">
    <div class="footer__inner">
      <div class="footer__content">
        <a href="{{ "" | absURL }}" class="footer__logo">O/C</a>

        <p class="copyright">
          <span class="broker-statement">
            Brokerage services provided by <a href="https://brokerage.tradier.com" target="_blank">Tradier Brokerage</a> Member
            <a href="http://www.finra.org" target="_blank">FINRA</a>/<a href="https://www.sipc.org" target="_blank">SIPC</a></span
          >
          <br />
          <span class="cloudmanic-copyright"
            >© {{ .Site.Params.copyRightYear }}. All rights reserved. Options Cafe is a
            <a href="https://cloudmanic.com?utm_campaign=options.cafe">Cloudmanic Labs</a> company</span
          >
        </p>
        <p></p>
      </div>

      <aside class="footer__aside">
        <nav class="footer__nav">
          {{- partial "v1/layouts/footerNav.html" . -}}
        </nav>

        <div class="socials">
          {{- partial "v1/layouts/socalLinks.html" . -}}
        </div>
      </aside>
    </div>
  </div>
</footer>
