{{- $js := resources.Get "js/app.js" | minify | fingerprint -}}
{{- $cssStyle := resources.Get "css/style.css" | minify | fingerprint -}}
{{- $cssApp := resources.Get "css/app.css"| minify | fingerprint -}}
{{- $vue := resources.Get "vendor/vue.min.js" -}}
{{- $jquery := resources.Get "vendor/jquery-1.12.4.min.js" -}}
{{- $detectmobilebrowser := resources.Get "vendor/detectmobilebrowser.js" -}}
{{- $shareImg := resources.Get "blog/options-cafe-cover.png" -}}
<head>
  <meta charset="UTF-8" />
  <title>{{ .Title }} - Options Cafe</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="canonical" href="{{ .Permalink }}" />
  <link rel="shortcut icon" type="image/png" href="{{ "css/images/favicon.ico" | absURL }}" />
  <meta
    name="description"
    content="{{- if .Description -}}
      {{- .Description -}}
    {{- else -}}
      {{- .Site.Params.description -}}
    {{- end -}}
    "
  />

  {{/* Twitter stuff */}}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ .Site.Params.twitterHandle }}" />
  <meta name="twitter:title" content="{{ .Title }} - Options Cafe" />
  <meta
    name="twitter:description"
    content="{{- if .Description -}}
      {{- .Description -}}
    {{- else -}}
      {{- .Site.Params.description -}}
    {{- end -}}"
  />

  {{/* Facebook stuff */}}
  <meta property="og:site_name" content="{{ .Site.Title }} - Best Place For Options Trading" />
  <meta property="og:title" content="{{ .Title }} - Options Cafe" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:type" content="article" />
  <meta property="fb:app_id" content="{{ .Site.Params.facebookAppId }}" />
  <meta property="fb:pages" content="{{ .Site.Params.facebookPageId }}" />
  <meta
    name="og:description"
    content="{{- if .Description -}}
      {{- .Description -}}
    {{- else -}}
      {{- .Site.Params.description }}
    {{- end -}}"
  />

  {{/* Image stuff */}}
  {{ if $.Param "image" }}
    <meta property="twitter:image" content="{{ $.Param "image" | absURL }}" />
    <meta property="og:image" content="{{ $.Param "image" | absURL }}" />
    <meta property="og:image:secure_url" content="{{ $.Param "image" | absURL }}" />
  {{ else }}
    <meta property="twitter:image" content="{{ $shareImg.Permalink }}" />
    <meta property="og:image" content="{{ $shareImg.Permalink }}" />
    <meta property="og:image:secure_url" content="{{ $shareImg.Permalink }}" />
  {{ end }}


  <link rel="alternate" type="application/rss+xml" href="{{ .Site.BaseURL }}/index.xml" title="{{ .Site.Title }}" />
  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,400i,700" rel="stylesheet" />
  <link rel="stylesheet" href="{{ $cssStyle.Permalink }}" />
  <link rel="stylesheet" href="{{ $cssApp.Permalink }}" />

  <script src="{{ $vue.Permalink }}"></script>
  <script src="{{ $jquery.Permalink }}" defer></script>
  <script src="{{ $detectmobilebrowser.Permalink }}" defer></script>
  <script src="{{ $js.Permalink }}" defer></script>

  <script>var site = { devMode: "0", baseUrl: "{{ "" | absURL }}" };</script>
  {{- partial "shared/head-js.html" . -}}
</head>
