<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="robots" content="noindex" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/png" href="{{ url() }}app/images/favicon.png" />  
  <meta name="description" content="{{ description }}" />
  
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@optionscafe" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="{{ page_image }}" />
  
  <meta name="og:site_name" content="{{ siteName }} - Best Place For Options Trading" />    
  <meta name="og:title" content="{{ title }}" />  
  <meta name="og:url" content="{{ craft.request.getUrl() }}" />
  <meta name="og:description" content="{{ description }}" />
  <meta name="og:image" content="{{ page_image }}" /> 
  <meta property="og:type" content="article" />
  <meta name="fb:app_id" content="1512164148794908" />
  
  <link rel="alternate" type="application/rss+xml" title="Stockpeer Feed" href="{{ url('blog/rss') }}" />
  <link href='//fonts.googleapis.com/css?family=Poiret+One|PT+Serif|Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <link href="{{ url() }}assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="{{ url() }}assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
  <link href="{{ url() }}assets/css/socialicons.css" rel="stylesheet" />
  <link href="{{ url() }}assets/css/glyphicons.css" rel="stylesheet" />
  <link href="{{ url() }}assets/css/halflings.css" rel="stylesheet" />
  <link href="{{ url() }}assets/css/template.css" rel="stylesheet" />
  <link href="{{ url() }}assets/css/colors/color-red.css" rel="stylesheet" id="colorcss" />
  <link href="{{ url() }}assets/css/style.css" rel="stylesheet" />
  
  <script src="{{ url() }}assets/js/modernizr.js"></script>
  <script src="{{ url() }}assets/js/jquery-1.9.1.js"></script>
  <script src="{{ url() }}assets/js/bootstrap.min.js"></script>   
  <script src="{{ url() }}assets/js/bootstrap.js"></script>
  <script src="{{ url() }}assets/js/tinynav.js"></script>
  <script src="{{ url() }}assets/js/template.js"></script>  
</head>  