<div class="subscribe">
  <div class="subscribe__content">
  	<img src="/assets/css/images/temp/letter.png" alt="" class="subscribe__image" width="140" height="111">

  	<h1>Options Cafe Newsletter</h1>

  	<p>Get our latest news delivered to your inbox.</p>
  </div><!-- /.subscribe__content -->

  <aside class="subscribe__aside">
  	<form action="" method="post" class="newsletter-form">
  		<label for="mail2" class="subscribe__label">Email</label>
  		<span class="subscribe__alert" style="display: none;">Thanks! You won't regret it!</span>
  		<input type="email" id="mail2" name="email" value="" class="subscribe__field">
  		<input type="submit" name="subscribe" value="Subscribe" class="btn btn--medium subscribe__btn">
  	</form>
  </aside><!-- /.subscribe__aside -->
</div><!-- /.subscribe -->