<div class="bar newsletter-header">
  <a href="{{ url('') }}" class="bar__close">
  	<i class="ico-cross"></i>
  </a>

  <div class="subscribe-secondary subscribe-secondary--alt">
  	<form action="" method="post" class="newsletter-form">
  		<label for="mail1" class="subscribe__label hide-on-success">Join our newsletter today for free.</label>
  		<input type="email" id="mail1" name="email" value="" class="subscribe__field hide-on-success" />
  		<span style="display: none;" class="show-on-success">Thanks! You won't regret it!</span>
  		<input type="hidden" name="entry_type" value="Newsletter Header Subscribe" />
  		<input type="submit" name="subscribe" value="Subscribe" class="btn subscribe__btn hide-on-success">
  	</form>
  </div><!-- /.subscribe-secondary -->
</div><!-- /.bar -->