<form action="{{ siteUrl }}actions/options-cafe/signup " method="post">
  <div class="form__head">
    <!-- <p class="form__required">Password Required</p> -->
    <h3>Try Options Cafe for 30 days free!</h3>
  </div>

  <div class="form__body">
    <div class="form__row">
      <label class="form__label hidden" for="subscribe-name">email</label>

      <div class="form__controls">
        <input type="text" class="subscribe__field field hidden" name="name" id="subscribe-name" placeholder="Name..." />
      </div>
      
      <label class="form__label hidden" for="subscribe-mail">email</label>

      <div class="form__controls">
        <input type="text" class="subscribe__field field" name="email" id="subscribe-mail" placeholder="Email" />
      </div>
    </div>

    <div class="form__actions">
      <input type="submit" value="GET STARTED" class="btn btn--medium subscribe__btn">
    </div>
  </div>

  <div class="form__foot">
    <h3>Only $60/month, or $600/year</h3>
  </div>
</form>