<div class="sidebar">
  <ul class="widgets">
    <li class="widget widget--categories">
      <div class="widget__head">
        <h2 class="widget__title">Categories</h2>
      </div>

      <div class="widget__body">
        <ul class="list-links">
          <li>
            <a href="{{ $.Site.BaseURL }}/blog">All Posts</a>
          </li>

          {{ range $key, $value := .Site.Params.blogCategories }}
            <li>
              <a href="{{ $.Site.BaseURL }}/blog/{{ $value | urlize }}"
                >{{ $value }}</a
              >
            </li>
          {{ end }}
        </ul>

        {{- partial "blog/search.html" . -}}
      </div>
    </li>

    <li class="widget widget--ad">
      {{- partial "blog/ads/trading.html" . -}}
    </li>

    <li class="widget widget--socials">
      {{- partial "blog/sidebar-follow.html" . -}}
    </li>
  </ul>
</div>
