{{- $authorPic := resources.Get "images/spicer-head.jpeg" -}}


<div class="lg:w-2/3 mx-auto">
  <h1 class="text-gray-900 text-2xl leading-tight font-bold sm:text-4xl text-center">
    <span class="block">Stop Trading Stocks</span
    ><span class="block"
      >Become an<!-- -->
      <span class="text-red-550 sm:text-gray-900 sm:border-b-4 sm:border-red-500">Options Trader</span></span
    >
  </h1>

  <p class="text-lg sm:text-xl text-gray-700 mt-6 mb-6 sm:mb-12 text-center">
    Finally, an options trading tutorial that dives deep! <br />
    Learn how to successfully trade options to earn monthly income.
  </p>

  <div class="flex justify-center">
    <a href="https://twitter.com/spicermatthews" target="_blank">
      <img src="{{ $authorPic.Permalink }}" alt="Spicer Matthews" class="w-20 h-20 rounded-full mx-auto" />
    </a>

    <div class="ml-4 my-auto">
      <p class="align-middle text-gray-700">Your instructor</p>
      <p class="mt-1 text-gray-700 font-extrabold">Spicer Matthews</p>
    </div>

    <div class="my-auto ml-12">
      <a href="#pricing" class="btn-red-lg">Get Access</a>
    </div>
  </div>
</div>
