<section class="py-12 px-4 text-center bg-gray-100 border rounded shadow">
  <div class="w-full max-w-2xl mx-auto">
    <h2 class="text-4xl mb-4 font-semibold font-heading">What Our Students Say</h2>
    <p class="mb-10 text-gray-500">We are proud to have helped our students achieve their trading goals.</p>

    <div class="md:grid md:grid-cols-3 md:gap-4">
      <div class="px-3 mb-8 md:mb-0">
        <div class="w-full max-w-xs mx-auto rounded-md shadow-md overflow-hidden">
          <div class="flex items-end justify-end h-56 w-full bg-cover" style="background-image: url('/css/images/people/owen-patterson.jpg');"></div>
          <div class="px-2 py-3">
            <h3 class="text-gray-700 uppercase mb-2">Owen Patterson</h3>
            <span class="text-gray-500 mt-2 text-sm"
              >"Options trading mastery achieved! This course transformed me from novice to pro. A must for every trader." ~Owen</span
            >
          </div>
        </div>
      </div>

      <div class="px-3 mb-8 md:mb-0">
        <div class="w-full max-w-xs mx-auto rounded-md shadow-md overflow-hidden">
          <div class="flex items-end justify-end h-56 w-full bg-cover" style="background-image: url('/css/images/people/mike-dean.png');"></div>
          <div class="px-2 py-3">
            <h3 class="text-gray-700 uppercase mb-2">Mike Dean</h3>
            <span class="text-gray-500 mt-2 text-sm"
              >"Unlocked my potential in options trading with this course. It's the perfect blend of theory and practice." ~Mike</span
            >
          </div>
        </div>
      </div>

      <div class="px-3 mb-8 md:mb-0">
        <div class="w-full max-w-xs mx-auto rounded-md shadow-md overflow-hidden">
          <div class="flex items-end justify-end h-56 w-full bg-cover" style="background-image: url('/css/images/people/lucas-bennett.jpg');"></div>
          <div class="px-2 py-3">
            <h3 class="text-gray-700 uppercase mb-2">Lucas Bennett</h3>
            <span class="text-gray-500 mt-2 text-sm"
              >"Strategies taught in this course are very effective. I have seen a significant improvement in my trading results." ~Luke</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
