<div class="bg-indigo-800 h-28 inset-x-0 mt-20 absolute">
  <div class="flex justify-center">
    <div class="relative w-48">
      <div class="absolute left-4 top-[-15px] bottom-[-30px] bg-white border-standard w-48">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-12 h-12 mx-auto mt-10">
          <path
            fill-rule="evenodd"
            d="M4.5 5.653c0-1.426 1.529-2.33 2.779-1.643l11.54 6.348c1.295.712 1.295 2.573 0 3.285L7.28 19.991c-1.25.687-2.779-.217-2.779-1.643V5.653z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
    </div>
    <div class=" md:ml-10 text-center sm:text-left py-6">
      <p class="md:text-xl text-white font-semibold">Watch this intro. It explains everything.</p>
      <p class="md:text-base text-indigo-200">(It's about what this course teaches you.)</p>
    </div>
  </div>
</div>
