{# https://github.com/craftcms/cms/issues/1887 #}
{# set mainNav = craft.entries.section('pages').pagesHeaderNavigation(true) #}
{% set mainNav = craft.entries.section('pages') %}

<!DOCTYPE html>
<html lang="en">
{% block head %}{% endblock %}

<body>
	<div class="wrapper {% if newsletterHeader is defined %}wrapper--padding{% endif %}">
		{% if newsletterHeader is defined %}
		{% include "modules/_newsletterHeader" %}
		{% endif %}

		<header class="header">
			<div class="shell">
				<div class="header__inner">
					<a href="{{ url('') }}" class="logo">O/C Options Cafe</a>

					<a href="{{ url('') }}" class="btn-menu visible-xs-inline-block">
						<span></span>

						<span></span>

						<span></span>
					</a>

					<nav class="nav">
						<ul>
							{% for row in mainNav %}
							{% if row.pagesHeaderNavigation %}
							<li class="{% if craft.request.firstSegment == row.slug %}current{% endif %} {% if craft.request.firstSegment == '' and row.slug == '__home__' %}current{% endif %}">
								<a href="{{ row.url }}">{{ row.title }}</a>
							</li>
							{% endif %}
							{% endfor %}

							<li>
								<a href="{{ url('help') }}">Support</a>
							</li>

							<li>
								<a href="https://app.options.cafe/login">Login</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

		<div class="{% if craft.request.getPath() %} container {% endif %}">

			{% block content %}{% endblock %}

		</div>

		<footer class="footer">
			<div class="shell">
				<div class="footer__inner">
					<div class="footer__content">
						<a href="{{ url('') }}" class="footer__logo">O/C</a>

						<p class="copyright">
							<span class="broker-statement">
								Brokerage services provided by <a href="https://brokerage.tradier.com" target="_blank">Tradier Brokerage</a> Member <a href="http://www.finra.org" target="_blank">FINRA</a>/<a href="https://www.sipc.org" target="_blank">SIPC</a></span> <br />
							<span class="cloudmanic-copyright">© 2018. All rights reserved. Options Cafe is a <a href="https://cloudmanic.com?utm_campaign=options.cafe">Cloudmanic Labs</a> company</span>
						</p>
						<p></p>
					</div>

					<aside class="footer__aside">
						<nav class="footer__nav">
							<ul>

								{% for row in mainNav %}
								{% if row.pagesFooterNavigation %}
								<li>
									<a href="{{ row.url }}">{{ row.title }}</a>
								</li>
								{% endif %}
								{% endfor %}

							</ul>
						</nav><!-- /.footer__nav -->

						<div class="socials">
							<ul>
								<li>
									<a href="{{ siteDetails.siteFacebookUrl }}">
										<i class="ico-facebook-circle"></i>
									</a>
								</li>

								<li>
									<a href="{{ siteDetails.siteTwitterUrl }}">
										<i class="ico-twitter-circle"></i>
									</a>
								</li>
							</ul>
						</div><!-- /.socials -->
					</aside><!-- /.footer__aside -->
				</div><!-- /.footer__inner -->
			</div><!-- /.shell -->
		</footer><!-- /.footer -->
	</div><!-- /.wrapper -->

	<!-- Start of Piwik Code -->
	<script type="text/javascript">
		var _paq = _paq || [];
		_paq.push(["setCookieDomain", "*.options.cafe"]);
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u = (("https:" == document.location.protocol) ? "https" : "http") + "://piwik.cloudmanic.com/";
			_paq.push(['setTrackerUrl', u + 'piwik.php']);
			_paq.push(['setSiteId', 5]);
			var d = document,
				g = d.createElement('script'),
				s = d.getElementsByTagName('script')[0];
			g.type = 'text/javascript';
			g.defer = true;
			g.async = true;
			g.src = u + 'piwik.js';
			s.parentNode.insertBefore(g, s);
		})();

	</script>
	<noscript>
		<p><img src="https://piwik.cloudmanic.com/piwik.php?idsite=5" style="border:0;" alt="" /></p>
	</noscript>
</body>

</html>
